/*
Aqui hay que importar las fuentes
Definir los selectores universal. 

*/

/*codigo cor: #2d83be*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Reset del HTML*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto",serif;
    padding: 7px;

    
}
.t4bContainerComF{
    h3{
        color: #2d83be;
    }
    div{
        border-left: solid 2px #2d83be;
    }
}

.logoTxt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300;
    color: black;
    text-transform: uppercase;
}

.t4bContainer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    background-color: #2d83be;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.t4bContainerIndex{
    height: 75vh;
    width: 100%;
    margin-top: 5px;
    h1{
        font-family: "roboto",serif;
        color: rgb(250, 250, 250);
        text-align: left;
        font-size: 2.5rem;
    }
}

    
.mainTitle{
   
    font-size: 30px;
    font-weight: 300;

}

.mainDescription{    
    font-size: 18px;
    line-height: 1.3;


}
/*
footer{    
    div{
        display: flexbox;
    }

    i{
        font-size: 2rem;
    }

    li{
        list-style: none;
    }

}

*/

/*Redes sociales*/
.T4brSociales{
    text-align: center;
    margin-bottom:50px;
    margin-left: 10px;
    
}
/*whats app style*/

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.t4fbcontainerAyuda{
   ul{
    text-decoration: none;
   }
}

.container-whapp .fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    z-index: 5;
    
}
.container-whapp{
    a:hover{
        text-decoration: underline;
        }
    }
.fab {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

/*Logo*/
.logo{
    width: 90px;
    height: 90px;

}

/* main index */
.seccionPrincipalIndex{
    display:block;
    color:rgb(255, 255, 255);
    margin-top: 10px;
    a{
      margin-top:20px;
      display:inline-block;
      color:white;
      text-decoration: none;
      border:1px solid white;
      padding:8px;
      border-radius: 5px;
    }
}  

/*Seccion de stratgias*/
.carousel-item{
    height: 90vh;
    img{
        height: 80%;
        width: 80%;
        object-fit: cover;
    }
}

/*Sesión comentarios*/

.sesionComentsTitle{
    text-align: center;
    height: 400px;
    padding: 5px;
    margin-top: 10px; 

    h3{
        padding-bottom: 5px;
    }
}

.cardComents{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3sease;
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

/* style copyrigth */
.TfBCopyrigth{
    text-align: center;
    color: #2d83be;
    text-transform: uppercase;
    font-weight: bold;
    height: 85px;
    border-top: solid 1px rgb(201, 198, 198);
    text-align: center;
    p{
        padding-top:45px;
        
    }

}

.T4Bfooter{
    border: solid 1px red;
}

