/*
Aqui hay que importar las fuentes
Definir los selectores universal. 

*/

/*codigo cor: #2d83be*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Reset del HTML*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto",serif;
    padding: 7px;
    background-color: rgb(251, 251, 251);

    
}

html{
    font-family: 'Questrial', sans-serif;
}

/* esilos sesión contacto*/

.t4bSesionContacto{
    label{
        padding-top: 8px;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    .botonFormContacto{
        margin-top:10px;
    }
    
    .t4bBackGroundForm{
        background-image: url(../assets/img/grafico.jpg);
        border-radius: 8px;
    }
    
}

/*sesión index*/
/*Sesión como funciona*/
.t4bComoFunciona{
    h3{
        color: #2d83be;
    }
    div{
        border-left: solid 2px #2d83be;
    }
}

.logoTxt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300;
    color: black;
    text-transform: uppercase;
}

/*Session footer*/
/*Redes sociales*/
.T4brSociales{
    text-align: center;
    margin-bottom:50px;
    margin-left: 10px;
    
}
/*whats app style*/
ul{
    list-style-type: none;
    a{
        text-decoration: none;

    }

}   

.container-whapp .fab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    z-index: 5;
    &:hover{
        background-color: #08732d;

    }    
}

@media screen and (max-width: 600px) {
    .container-whapp .fab {
     bottom: 35px;
    }
  }


/*Seccion Software*/
.carousel-item{
    height: 90vh;
    img{
        height: 65%;
        width: 65%;
        object-fit: cover;
        border-radius: 10px;
    }
}


/*Sesion comentarios Index*/
.sessionOpnionClientes{
    padding: 10px;
    text-align: center;
    div{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.8s ease;    
        display: inline-block;
        margin: 10px;
        text-align: center;
        &:hover{
            transform: translate(-15px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        }       
    }
}
.cardComents{
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px; 
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }    
}

/*Page nosotros - Sesión header*/
.main-layout{
    /*display: block;*/
    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .layout{
        padding: 0 5vw;
        margin: auto;
        max-width: 100vw;
    }


    .section-header{
        background-color: #2d83be;
        border-radius: 15px 0 15px 0;
        height: 100%;
        padding-bottom: 32px;
    }
    
    .t4b-header-section{
        /*display: flex;*/
        align-items: center;
        height: 340px;
    }
    
    .gap-lg{
        gap: 80px;

    }

    .gap-sm{
        gap: 20px;
    }

}

/*Page nosotros - Sesión cards*/

.card{
    background: #FFF;
    border-radius: 15px;
    padding: 30px;
    img{
        height: 70px;
        width: 60px;
        
    }
}

.t4B-card-sobre-nosotros{

}

.t4bSessionAppTrading{
    height: 400px;
    .t4bSesionImgApp{
        width: 300px;
        text-align: justify;
        margin-left:2px ;
        border-radius: 5px;  
        background-image: url(../assets/img/app_movil.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }
    
    .t4bSesionImgTrading{
        text-align: justify;
        border-radius: 5px;    
        background-image: url(../assets/img/grafico.jpg);
        background-position: center;
        background-size: cover;
        color: rgb(238, 217, 217);
    }
}

.t4bBoton{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    color: #f9f9f9;
    border: 2px solid white;
    &:hover{       
        background-color: #2d83be;
        border: initial;
        border: 2px solid white;
        border-radius: 5px;
    }

}

/* style sesion copyrigth */
.TfBCopyrigth{
    text-align: center;
    font-size: 0.9rem;
    color: #2d83be;
    text-transform: uppercase;
    font-weight: bold;
    height: 60px;
    border-top: solid 1px rgb(201, 198, 198);
    p{
        padding-top:25px;
        
    }

}


